.movieRow {
    margin-bottom: 1.875rem;

    h2 {
        margin: 0 0 0 1.875rem;
    }

    .movieRow--listarea {
        overflow-x: hidden;
        padding-left: 1.875rem;

        .movieRow--list {
            width: 9999999rem;

            .movieRow--item {
                display: inline-block;
                width: 9.375rem;

                img {
                    width: 100%;
                    transform: scale(0.9);
                    transition: all ease 0.2s;
                    cursor: pointer;


                    &:hover {
                        transform: scale(1);
                        
                    }
                }
            }
        }
    }
}