.movieRow {
    margin-bottom: 1.875rem;

    h2 {
        margin: 0 0 0 0.9rem;
    }

    &:hover .movieRow--before,
    &:hover .movieRow--next {
        opacity: 1;
    }

    .movieRow--before,
    .movieRow--next {
        position: absolute;
        width: 2, 5rem;
        height: 14rem;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        opacity: 0;
        transition: all ease 0.5s;

        @media (max-width: 760px) {
            opacity: 1;
            height: 5rem;
            transform: translateY(80%)
        }
    }

    .movieRow--before {
        left: 0;

    }

    .movieRow--next {
        right: 0;
    }

    .movieRow--listarea {
        overflow-x: hidden;
        padding-left: 1.875rem;

        @media (max-width: 760px) {
            padding-left: 0.5rem;
        }

        .movieRow--list {
            transition: all ease 0.5s;

            .movieRow--item {
                display: inline-block;
                width: 9.375rem;

                img {
                    width: 100%;
                    transform: scale(0.9);
                    transition: all ease 0.2s;
                    cursor: pointer;


                    &:hover {
                        transform: scale(1);

                    }
                }
            }
        }
    }
}