header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.875rem;
    background: transparent;
    transition: all ease 0.3s;

    .header--logo {
        height: 1.5rem;

        
        img {
            height: 100%;
            
            @media (max-width: 760px) {
                height: 1.2rem;
            }
        }
    }

    .header--cast {
        display: flex;
        margin-top: -5px;
        margin-right: -120px;
        
        .header--castIcon {
            color: #fff;
        }
    }

    .header--search {
        display: flex;
        margin-top: -5px;
        margin-right: -120px;

        .header--searchIcon {
            color: #fff;
        }
    }

    .header--user {
        height: 1.9rem;

        img {
            height: 100%;
            border-radius: 3px;

            @media (max-width: 760px) {
                height: 1.5rem;
            }
        }
    }
}

.black {
    background: #141414;
}